<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevFácil - Login</title>
    <link rel="stylesheet" th:href="@{/css/stylelogin.css}">
</head>
<body>
<div class="container">
    <div class="card">
        <div class="header">
            <img src="/img/logo.png" alt="Logo da DevFácil" class="logo">
            <h1>DevFácil</h1>
        </div>
        <h2>Login</h2>
        <form th:action="@{/login}" method="post" th:object="${user}">
            <label for="nome">Usuario:</label>
            <input type="text" name="username" id="username" required>

            <label for="senha">Senha:</label>
            <input type="password" id="password" name="password" required>

            <div class="links">
                <a th:href="@{/register}">Criar uma conta</a>
            </div>
            <button type="submit" class="login-button">Login</button>
        </form>
        <div th:if="${param.error}">Usuário ou senha incorretos</div>
    </div>
</div>
</body>
</html>

