<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificado</title>
    <link rel="stylesheet" href="/css/stylecerti.css">
    <link rel="stylesheet" href="/css/stylessidebar.css">
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <a href="/configuracoes" class="profile-link">
                <img class="profile-pic" src="/img/profile.jpg" alt="Foto do Perfil">
            </a>
            <nav class="menu">
                <a href="/u/home" class="menu-item">
                    <i class="icon home-icon"></i> Home
                </a>
                <a href="/cursos" class="menu-item">
                    <i class="icon cursos-icon"></i> Cursos
                </a>
                <a href="/certificado" class="menu-item">
                    <i class="icon favorito-icon"></i> Certificado
                </a>
                <a href="/configuracoes" class="menu-item">
                    <i class="icon configuracoes-icon"></i> Configurações
                </a>
            </nav>
        </aside>

        <!-- Conteúdo Principal -->
        <main class="content">
            <div class="certificado-container">
                <h1 class="certificado-titulo">Certificado do Curso</h1>
                <div class="certificado-box">
                    <div class="certificado-header">
                        <h2>CERTIFICADO</h2>
                    </div>
                    <p>PARABÉNS PELA CONCLUSÃO DO CURSO DE JAVASCRIPT</p>
                    <h3>KAUE GOMES CIDRAL</h3>
                    <div class="certificado-footer">
                        <p>Dr. Gabriel F. da Costa</p>
                        <p>Assinatura</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
